 @font-face {
    font-family: 'anonymous_proregular';
    src: url('anonymous_pro-webfont.eot');
    src: url('anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('anonymous_pro-webfont.woff') format('woff'),
         url('anonymous_pro-webfont.ttf') format('truetype'),
         url('anonymous_pro-webfont.svg#anonymous_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#font_anonymous{
  font-family: 'anonymous_proregular';
}

 body {
    background-image:url(../images/bg3.png);
    background-color: #E8E8E8;
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans', Arial;
    font-size: 12px;
  }
  .container {
    border-radius: 11px;
    margin:0 auto;
    width:80%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .tab-content{

    background-color:#FFF;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  }
  h1 {font-size: 37px;}
  h2 {font-size: 30px;}
  h3 {font-size: 20px;}
  h4 {font-size: 15px;}
  h5 {font-size: 13px;}
  h6 {font-size: 12px;}
  ul { 
    padding-left: 5px;
    list-style-type: none; 
  }


  /* Skills Section */
  .vcard-header{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  .skill{
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid gold ;
    padding: 4px;
  }
  .skills-section{
    margin-top: 30px;
  }

  .nav{
    margin: 30px;
  }
  .timeline{
    font-size: smaller;
  }
  .skills-section{
    font-size: small;
  }
  .container{
    background-color: white;
  }
  .timelineUnit
  {
    padding-left: 4px;
    margin-left: 0px;
  }

  .timelineUnit
  {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  h4.timelineUnit{
    font-weight: bolder;
  }

  .welcome-message{
    background-color: whitesmoke;
  }
  .timelineDate
  {

    float: right;
    color: grey;
  }

  .my-skill
  {
    margin-left: 5px;
  }

  .my-name {
    font-size: 20px; 
    line-height: 20px;
  }
  .my-profession {
    font-size: 18px;
    line-height: 27px;
  }
  .my-message {
    line-height: 16px; 
    padding-right: 33px;
  }

  .more-info{
    font-size: 12px;
    background-color: white;
    color: black;
    border: solid;
    border-color: blue;
  }
  /* Contact Form */
  #contactform {
    padding-left:30px;
  }
  #contactform p {
    margin-bottom:15px;
  }
  #contactform p label {
    display:block;
    color:#999;
    margin-bottom:8px;
    font-size:13px;
  }
  #contactform .input {
    line-height: 20px;
    height: 20px;
    width:60%;
  }
  #contactform .textarea {
    width:95%;
  }
  #contactform .submit {
    color:#fff;
    background-color: #666;
    padding:8px;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
    font-size:13px;
  }
  #contactform .submit:hover {
    background-color: #fdc62a;
  }
  #contactform .input, .textarea {
    padding:6px;
    background-color:#f5f5f5;
    border: 1px solid #CCC;
    color:#999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 13px;
  }
  .success, .error {
    padding:10px;
    margin-bottom:10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .success {
    background-color: #E3EBC6;
    color: #8FA442;
    border: 1px solid #C2D288;
  }
  .error {
    background-color: #f9e5e6;
    color: #b3696c;
    border: 1px solid #f7c7c9;
  }
  /* Google map */
  #map {
    height: 300px;
    margin-bottom:25px;
    width: 100%;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
  }
  /*-------------------------------------------------------*/
  /* Footer */
  /*-------------------------------------------------------*/
  div.footer {
    margin-top:20px;
    height:20px;
  }
  div.footer .copyright {
    float:left;
    color:#333;
    padding-left:6px;
  }
  .page-header{
    font-style: 13px;
    font-weight: bold;
    color: grey;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .nav-pills{
    font-size: 16px;
  }

  #line-top{
    width: 966px;
    margin-left: 61px;
    border-top: 1px solid black;
  }
  #line-bottom{
    width: 966px;
    margin-left: 61px;
    border-top: 1px solid black;
  }
  .successblue{
    background-color: #def0f7
  }
  .success_green{
    background-color: #d9f7c1
  }

  #panel_default{
   width: 1012px; 
   margin-left: 94px;
   margin-top:48px;
  }
#resume_section{
  margin-left:40px; margin-top:30px; margin-bottom:30px
}

  #icon_education{
    color:gainsboro;
  }

  #tab_pane{
    margin-top:38px;
  }